* {
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    background-color: #a5a5a5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug {
    position: absolute;
    padding: 20px;
}

#canvas-map {
    background-color: pink;
}

#canvas-3d {
    background-color: #7fa5a5;
}